.u-full-width {
  width: 100%;
}

.u-padding-10 {
  padding: 1rem;
}

.u-padding-20 {
  padding: 2rem;
}

.u-padding-top-20 {
  padding-top: 2rem;
}
.u-padding-top-40 {
  padding-top: 4rem;
}

.u-no-padding-left {
  padding-left: 0;
}

.u-no-padding-horizontal {
  padding-left: 0;
  padding-right: 0;
}

.u-padding-left-100 {
  padding-left: 10rem;
}
.u-padding-left-150 {
  padding-left: 15rem;
}

.u-no-margin, .u-no-margin > * {
  margin: 0;
}

.u-no-margin-bottom, .u-no-margin-bottom > * {
  margin-bottom: 0;
}

.u-no-margin-vertical, .u-no-margin-vertical > * {
  margin-top: 0;
  margin-bottom: 0;
}

.u-no-margin-horizontal, .u-no-margin-horizontal > * {
  margin-left: 0;
  margin-right: 0;
}

.u-margin-top-20 {
  margin-top: 2rem;
}
.u-margin-bottom-20 {
  margin-bottom: 2rem;
}

.u-width-50 {
  width: 50%;
}
.u-width-50 img {
  width: 100%;
}

.u-width-70 {
  width: 70%;
}
.u-width-70 img {
  width: 100%;
}

.u-width-100 {
  width: 100%;
}
.u-width-100 img {
  width: 100%;
}

.u-center {
  margin-left: auto;
  margin-right: auto;
}

.u-background-red {
  background: #C82828;
}

.u-background-green {
  background: #25991F;
}

.u-border-radius-10 {
  border-radius: 1rem;
}

.u-bottom {
  position: absolute;
  bottom: 20px;
  left: 50px;
  width: 100%;
}

.u-line-height-37 {
  line-height: 3.7rem;
}

.u-block {
  display: block;
}

.u-strikethrough {
  text-decoration: line-through;
}

.u-unbold {
  font-weight: normal;
}
